module.exports = {
  HOST: "localhost",     // Server where your database is hosted
  USER: "root",          // Username used to access the database
  PASSWORD: "password",  // Password for the database user
  DB: "mydbname",        // Name of the database to connect to
  PORT: 3306             // Optional: The port number for the database server; default for MySQL is 3306
};
